@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    display: grid;
background-color: aliceblue;
min-height: 100vh ;
}

#main-container{
    place-items: center center;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        width: 400px;
        max-width: 400px;
        overflow: hidden; 
}

#register {
    max-width: 330px;
}
.bootstrap-logo {
    width: 72px;
    height: 72px;
}

.form-control:focus {
    z-index: 5;
}
